::selection {
  background: transparent;
}

#controls {
  text-align: center;
}

#controls button {
  cursor: pointer;
  outline: none;
  padding: 10px 20px;
  margin: 25px 2px;
  border: 0;
  border-radius: 4px;
  background: #77B5FE; /* Slightly Darker Light Blue */
  font: bold 14px Arial;
  text-align: center;
  text-transform: uppercase;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
  color: #fff;
}

#controls button:hover {
  background: #6495ED; /* Cornflower Blue */
}

#puzzle {
  position: relative;
  width: 325px;
  height: 325px;
  margin: 0 auto;
  margin-top: 80px;
  border: 8px solid #6495ED; /* Cornflower Blue */
  border-radius: 4px;
}

#puzzle span {
  position: absolute;
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 4px;
}

#puzzle span.number {
  cursor: pointer;
  font: bold 36px/80px Arial;
  text-align: center;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
  color: #fff;
}

#puzzle span.empty {
  background: transparent;
}

#puzzle span.number.light {
  background: #77B5FE; /* Slightly Darker Light Blue */
}

#puzzle span.number.dark {
  background: #77B5FE; /* Slightly Darker Light Blue */
}

#puzzle.animate span {
  -webkit-transition: 0.15s left, 0.15s top;
  transition: 0.15s left, 0.15s top;
}

.success-message {
  font-size: 24px;
  color: green;
  text-align: center;
  margin-top: 20px;
}

.controls-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.game-button {
  padding: 16px 32px;
  font-size: 24px;
  border: 2px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease, transform 0.1s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
}

.game-button:hover {
  background-color: #e0e0e0;
  transform: scale(1.05);
}
