.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

.home-page h1 {
  margin-bottom: 20px;
}

.home-page ul {
  list-style: none;
  padding: 0;
}

.home-page li {
  margin-bottom: 10px;
}

.home-page a {
  text-decoration: none;
  font-size: 18px;
  color: #007bff;
}

.game-link {
  text-decoration: none;
  font-size: 20px;
  color: #007bff;
  display: inline-block;
  position: relative;
  padding: 0.2em 0.5em;
  overflow: hidden; /* Clip the pseudo-element */
}

.game-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #0056b3; /* A slightly darker blue */
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.game-link:hover {
  color: #fff; /* Change text color on hover */
}

.game-link:hover::before {
  transform: translateX(0); /* Slide in the pseudo-element */
}
